.pie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #BBB;
    color: #444;
    text-align: center;
    height: 50px;
}

.listado {
    text-align:center;
}

.listado a {
    display: block;
    background-color: #444;
    color: #BBB;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10px;
}